# Python types and sequences

### Types

In [6]:
type('This is a string')

str

In [7]:
type(None)

NoneType

In [12]:
type([]), type({}),type(()), type(1), type(1.0)

(list, dict, tuple, int, float)

In [13]:
def add_numbers(x, y):
    return x + y

In [14]:
type(add_numbers)

function

In [19]:
x=(1, 'a', 2, {})
type(x)

tuple

### Lists and tuples

In [30]:
x = [ 1, 3, 'a', 'fish']
x.append('data')
print(x)

[1, 3, 'a', 'fish', 'data']

In [22]:
for item in x:
    print(item)

1
3
a
fish
data

In [23]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [26]:
[1,2,3] * 2

[1, 2, 3, 1, 2, 3]

In [32]:
'fish' in x

True

In [33]:
1 in (1,2,3)

True

### Slicing and splitting a list

In [49]:
x = 'This is a string'
print (x[0])
print (x[0:1])
print (x[0:2])
print (x[-1])
print (x[-4:-1])

T
T
Th
g
rin

In [50]:
x = 'Dr. Christopher Brooks'
x[4:15]

'Christopher'

In [55]:
fn='christopher'
ln='brooks'
name = fn + ' ' + ln
print (name)
print (name.split(' ')[0])
print (name.split(' ')[1])

christopher brooks
christopher
brooks

### Dict

In [59]:
x={'user': 'toni', 'password': '4567', 'age': '23'}
x['user']

'toni'

In [66]:
x['newkey'] = 'newval'
x['something'] = None
print (x)

{'something': None, 'password': '4567', 'newkey': 'newval', 'user': 'toni', 'age': '23'}

In [68]:
for key in x:
    print (x[key])

None
4567
newval
toni
23

In [69]:
for value in x.values():
    print(value)

None
4567
newval
toni
23

In [70]:
for k,v in x.items():
    print (k, v)

something None
password 4567
newkey newval
user toni
age 23

### Unpacking

In [72]:
x = (43, 180, 'm')

In [75]:
age, height, gender = x
print (age)

43

In [74]:
age

43