# Objects and map()

In [1]:
class Person:
    department = 'School of information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [3]:
person = Person()
person.set_name('John')
person.set_location('Tel Aviv, 28 Rotchild')
print ('{} lives in {} and works in {}'.format(person.name, person.location, person.department))

John lives in Tel Aviv, 28 Rotchild and works in School of information

In [5]:
store1 = [10.00, 11.00, 9.56, 8]
store2 = [11.11, 9.99, 10.50, 7]

### lazy evaluation

In [13]:
cheapest = map(min, store1, store2)
cheapest

In [14]:
for i in cheapest:
    print(i)

10.0
9.99
9.56
7

In [15]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return str(person[:1]) + ' ' + str(person[:-1])

list(map(split_title_and_name, people))

SyntaxError: invalid syntax (<ipython-input-15-0da5a4eeb5da>, line 4)